[webhook]
bot = bot_token
ip = public_ip
listen = local_listen_address
port = local_bind_port
cert = certificate_pem

[genshin]
ltoken = hoyolab_ltoken
ltuid = hoyolab_ltuid
ctoken = mihoyo_cookie_token (genshin.mihoyo.com/en/gift)
uid = ingame_uid

[settings]
admin = telegram_uid
timezone = your_timezone